/*////////Media //////*/
img, video, audio, iframe, table, form {
	width:100%;
	max-width: 100%;
}
/*////////Layout Style //////*/
.row{
	margin-bottom: 20px;
}
h3{
	text-align: center;
	color:maroon;

}

.navbar-default .navbar-nav>.active>a {
	background-color: maroon;
	color: white;
}

.footer {
	text-align: center;
}